name: Verification

on:
    push:
        branches: ["master"]
    pull_request:
        branches: ["master"]

jobs:
    verify:
        runs-on: ubuntu-latest

        steps:
            - uses: actions/checkout@v4
            - name: Install pnpm
              uses: pnpm/action-setup@v4
            - name: Use Node.js
              uses: actions/setup-node@v4
              with:
                  node-version: "lts/krypton"
                  cache: "pnpm"
            - name: Install dependencies
              run: pnpm i --frozen-lockfile
            - name: Verify integration
              run: CI=false pnpm verify
